body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin:2rem;
}
.btn-container{
    display:flex;
    justify-content:center
}
.yellow{
    background-color:#F99B45;
}
.red{
    background-color:#D95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;;
}
.userflash{
    background-color: green;
}